
#navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar ul li a{
    font-size: 0.7rem;
    padding: 0px 7px;
}
.heading{
    position: relative;
    top: 115px;
}

.heading_p{
    position: relative;
    top: 160px;
}

#home::before{
    height: 180%;
}

.btn2{
    position: relative;
    top: 175px;
    width: 110px;
}

.services{
    position: relative;
    top: 615px;
}
#h-services{
    position: relative;
    bottom: 360px;
}

#services{
    flex-direction: column;
    
   
}


#client{
    overflow: hidden;
    top: 990px;
}
#contact{
    top: 960px;
}
footer{
    top: 960px;
}

