/* css reset */

*{
    margin: 0px;
}

#navbar{
    display: flex;
    position: relative;
   
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo{
   
    display: block;
    margin: 3px 10px;
    
}
#logo img{
    height: 59px;
    width: 60px;
}

ul{
    display: flex;
    align-items:center;
    list-style: none;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
}

ul li a:hover{
    background-color: white;
    color: black;
}
#home{
    /* border: 8px solid yellowgreen; */
    padding: 3px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 396px;
    font-family: 'Baloo Bhaina 2', cursive;
   
}

#home::before{
    
    content: "";
    position: absolute;
    height: 110%;
    width: 100%;
    z-index: -1;
    background: url('../img/homebg.png') no-repeat center/cover;
    opacity: 0.89;
    margin-top: 0rem;
    
}

.heading{
    color: white;
    text-align: center;
}   
    

.heading_p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.btn2{
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
    background-color: brown;
    font-size: 1.2rem;
    margin: 17px;
    color: white;
    cursor: pointer;

}
#services{
    text-align: center;
    height: 360px;
   
    /* border: 2px solid black; */
   display: flex;
  
   align-items: center;
   justify-content: center;
   
}

#services img{
    
    height: 160px;
}

.box{
    /* border: 2px solid black; */
    margin: 17px;
    padding: 4px;
    border-radius: 25px;
    background-color: rgb(204, 192, 192);
    
}

.services{
    /* border: 2px solid brown; */
    position: absolute;
    top: 620px;
    text-align: center;
 
}

#h-services{
    font-size: 2.2rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

#client{
    /* border: 2px solid black; */
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 550px;
    text-align: center;
    height: 250px;
    
}
#sub-client{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client::before{
    content: "";
    position: absolute;
    background: url('../img/bg.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    width: 100%;

    
}
#client img{
   height: 125px;
   padding: 34px;

}
.h-client{
    font-size: 2.2rem;
    margin: 0rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#contact{
    /* border: 2px solid black; */
    position: relative;
    top: 530px;
    height: 500px;
    
    
}

#contact h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    padding: 13px;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../img/contact.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.79;
    height: 100%;
    width: 100%;
}

.contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
  
}
.contactbox input,
.contactbox textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;

}
.contactbox form{
    width: 40%;
    
}
.contactbox label{
    font-size: 1.3rem;
    
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.btn1 button{
    border-radius: 9px;
    margin-top: 4px;
    background-color: brown;
    font-size: 1.2rem;
    padding: 4px;
    color: white;
    cursor: pointer;
}





footer{
    background-color: black;
    position: relative;
    top: 530px;
    height: 30px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;


}

footer p{
    padding-top: 6px;
}



